# Ignore all plugins and themes
plugins/*
themes/*
updraft/
.litespeed_conf.dat
object-cache.php


# ✅ Allow matjar plugin
!plugins/matjar/
!plugins/matjar/**

!plugins/bosta-woocommerce/
plugins/bosta-woocommerce/*
!plugins/bosta-woocommerce/bosta-woocommerce.php

# Ignore everything
languages/*

# Allow loco folder
!languages/loco/

# Allow subfolders
!languages/loco/plugins/
!languages/loco/themes/

# Ignore everything inside them again
languages/loco/plugins/*
languages/loco/themes/*

# Allow only specific files
!languages/loco/plugins/woocommerce-ar.po
!languages/loco/plugins/xstore-core-ar.po
!languages/loco/themes/xstore-ar.po

# ✅ Allow xstore child theme
themes/*          # re-ignore everything inside xstore
!themes/xstore/framework/woo.php

# Other ignores
ai1wm-backups/
debug.log
fonts/
index.php
languages/
litespeed/
logs/
mu-plugins/
uploads/
