# Ignore all plugins and themes
plugins/*
themes/*

# ✅ Allow matjar plugin
!plugins/matjar/
!plugins/matjar/**

# ✅ Allow xstore child theme
themes/xstore/*          # re-ignore everything inside xstore
!themes/xstore/xstore-child/
!themes/xstore/xstore-child/**

# Other ignores
ai1wm-backups/
debug.log
fonts/
index.php
languages/
litespeed/
logs/
mu-plugins/
uploads/
